
<h1>Nestocars</h1>
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
  <div class="row feature text-center">
     <div class="col-12 col-sm">
       <h2>Featured Offers</h2>
       <div>
     <%= link_to 'View inventory at Nesto Cars', cars_path, class: 'btn btn-success' %>
     <br /><br />
    </div>
      <br />
      <p>Choose from our varieties of cars.</p>
     </div>

    
</div>