<% @cars.each do |car|%>
  <h2 class="text-center">
      <%= car.make %>
      <%= car.model %>
      <%= car.year %>
  </h2>
<div class="car-img" data-search="<%= "#{car.year}+#{car.make}+#{car.model}" %>"></div>

<% end %>